<!-- Dashboard -->
<div class="container-fluid my-5">
    <div class="row">
        <!-- Carteira Card -->
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <img src="../../../../assets/img/star.png" width="64" height="64" />
                    <h1>Carteira</h1>
                </div>
                <div class="card-body ">
                    <h3 class="card-text sub">Acompanhe sua carteira de Pilacoins</h3>
                </div>
                <div class="card-footer">
                    <a [routerLink]="['/carteira']" class="btn btn-primary btn-block">Acessar</a>
                </div>
            </div>
        </div>
        <!-- Eventos Card -->
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <img src="../../../../assets/img/blockchain.png" width="64" height="64" />
                    <h1>Eventos</h1>
                </div>
                <div class="card-body">
                    <h3 class="card-text sub">Acompanhe todos os eventos da rede Pilacoin</h3>
                </div>
                <div class="card-footer">
                    <a [routerLink]="['/eventos']" class="btn btn-primary btn-block">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>