<div class="container-fluid">

    <div class="d-flex justify-content-between ">
        <div class="d-flex">
            <div *ngIf="minerando">
                <div class="spin">
                    <img src="../../../../assets/img/star.png" width="64" height="64" />
                </div>
            </div>
            <div *ngIf="!minerando">
                <img src="../../../../assets/img/star.png" width="64" height="64" />
            </div>
            <div style="padding-left: 20px;">
                <h1>Carteira</h1>
                <h2 class="sub">Meus Pilacoins</h2>
            </div>
        </div>
        <div class="pilacoin-count-card">
            <div class="total">total</div>
            <h2 class="pilacoin-count">{{pilacoinCount}}</h2>
        </div>
        <div class="d-flex " style="max-height: 36px;">
            <button (click)="minerar()" class="btn btn-primary">
                {{ mineracaoButtonText }}
            </button> &nbsp;&nbsp;&nbsp;
            <button (click)="refreshPilaCoins()" class="btn btn-primary">
                <i class="fas fa-sync-alt"></i>
            </button>
        </div>
    </div>
    <div class="d-flex justify-content-between " style="flex-direction: row-reverse;">
        <pagination-controls (pageChange)=" paginationConfig.currentPage = $event" [id]="paginationId"></pagination-controls>
    </div>

    <div class="row">
        <div class="col-md-4" *ngFor="let pilaCoin of pilacoins | paginate: paginationConfig">
            <div class="card mt-4">
                <div class="card-header">
                    <img src="../../../../assets/img/star.png" width="20" height="20" /> Nonce: {{ pilaCoin.nonce }}
                </div>
                <div class="list-group list-group-flush">
                    <h5 class="list-group-item">ID Criador: {{ pilaCoin.idCriador }}</h5>
                    <h5 class="list-group-item overflow">Chave Criador: {{ pilaCoin.chaveCriador }}</h5>
                    <h5 class="list-group-item">Data Criacao: {{ pilaCoin.dataCriacao }}</h5>
                    <h5 class="list-group-item">Status: {{ pilaCoin.status }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>